doctype html
html
    head
        title Twitch Viewer
        link(rel="stylesheet", type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="css/main.css")
    body
        main(ng-app='TwitchStreams')
            section(ng-controller="MainCtrl")
                .search
                    i.fa.fa-search.fa-lg
                    input(type='text' placeholder='Enter a channel name' ng-model='searchText')
                .streams
                    ul
                        a(href='http://twitch.tv/{{stream.url}}' target='_blank' ng-repeat='stream in streams | filter : searchText')
                            li
                                img(ng-src='{{stream.logo}}').logo
                                span.channel {{stream.channel}}
                                span.status 
                                    i(class="{{stream.status}}")
                                span.description {{stream.desc}}
        script(type="application/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(type="application/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular.min.js")
        script(type="application/javascript", src="js/app.js")
